*.env
.idea
.env
/Agent Client/
/.obsidian
/.obsidian/graph.json
/.obsidian/workspace.json
.data/
# Ignore large binary documents (handled outside git)
*.pdf
30_Resources/Books/Dive Into Deep Learning/d2l-en